h1,body {
    text-align: center;
    align-items: center;
    margin: 50px;

}

div.home {
    display: inline;
    margin: 50px;
    padding: 20px;
    border: 5px solid black;
    background-color: beige;
}

ol, ul {
    display: inline-block;

}

img {
    border: 5px solid black;
    margin: 50px;
}